<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mdb.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>



<body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>


    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="/">
            <img src="../static/images/Company logo.png" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/learn">Learning</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/beginner">For beginner</a>
                        <a class="dropdown-item" href="/inter">For intermediate</a>
                        <a class="dropdown-item" href="/advance">For pro</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">FAQ </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="/profiles">My profiles</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</div>


<!--BOX 1-->
<div class="container my-5 px-5 pt-5 pb-1 z-depth-1">


  <!--Section: Content-->
  <section class="text-center">
    <!-- Section heading -->
    <h2 class="font-weight-bold mb-5">Functions statement </h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">Most important things in writing algorithms</p>
    <div class="container py-5 my-5">
      <section class="p-md-3 mx-md-5">
        <div class="row mb-5 d-flex align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">#1: Definition of a functions </h4>
              </div>
              <div class="card-body">
                <class class="card-text">
                  - An organized code that is used to perform an action in a software projects
                </class>
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded z-depth-1">
              <img src="../static/images/jukes.png" class="img-fluid"
                alt="Sample project image" />
              
            </div>
          </div>
        </div>
        <div class="row mb-5 d-flex align-items-center justify-content-end">
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded z-depth-1">
              <img src="../static/images/Python-Function-Syntax.png" class="img-fluid"
                alt="Sample project image" />
              
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">Defining and calling a functions </h4>
              </div>
              <div class="card-body">
                  <h5 style="font-weight: bold;">
                    Defining a function 
                  </h5>
                  <p class="card-text">
                    - Begin with the "def" keyword follow by the name and parentheses
                </p>
                <p class="card-text">
                    - Input number or variables should be put inside these parentheses
                </p>
                <p class="card-text">
                    - The "return" expression places at the end of the function to return data or name
                </p>

                    
                <a class="blue-text font-weight-bold" href="https://www.tutorialspoint.com/python/python_functions.htm">More about Python functions</a>
              </div>
            </div>
          </div>
        </div>
       
              
       
      </section>
    </div>
          </div>
          <!--/.Panel 6-->

        </div>

      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>


<!--BOX 2-->

 
<div class="container my-5 px-5 pt-5 pb-1 z-depth-1">

  <!--Section: Content-->
  <section class="text-center">
    <!-- Section heading -->
    <h2 class="font-weight-bold mb-5">Bubble sort </h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">Easiest sorting algorithms</p>
    <div class="container py-5 my-5">
      <section class="p-md-3 mx-md-5">
        <div class="row mb-5 d-flex align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">#1: Definition of bubble sort algorithm</h4>
              </div>
              <div class="card-body">
                <class class="card-text">
                  - An sorting algorithms that compared each of the value in a list and repeated swapping until they are in the correct order.
                </class>
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded z-depth-1">
              <img src="../static/images/bubble-sort-1024x683-2.png" class="img-fluid"
                alt="Sample project image" />
              
            </div>
          </div>
        </div>
        <div class="row mb-5 d-flex align-items-center justify-content-end">
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded z-depth-1">
              <img src="../static/images/bubble.png" class="img-fluid"
                alt="Sample project image" />
              
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">How does it work? </h4>
              </div>
              <div class="card-body">
                <h5 style="font-weight: bold;">
                  First run
                </h5>
                <p class="card-text">
                    - (6,4,1,2,5)=> (4,6,1,2,5) as the algorithm recognize that 6>4
                </p>
                <p class="card-text">
                    - (4,6,1,2,5)=> (4,1,6,2,5) as the algorithm recognize that 6>1
                </p>
                <p class="card-text">
                    - (4,1,6,2,5)=> (4,1,2,6,5) as the algorithm recognize that 6>2
                </p>
                <p class="card-text">
                    - (4,1,2,6,5)=> (4,1,2,5,6) as the algorithm recognize that 6>5
                </p>
                <div class="card-body">
                    <h5 style="font-weight: bold;">
                      END OF FIRST RUN
                    </h5>

                <div class="card-body">
                    <h5 style="font-weight: bold;">
                        Second run
                    </h5>
                
                    <p class="card-text">
                        - (4,1,2,5,6)=> (1,4,2,5,6) as the algorithm recognize that 4>1
                    </p>
                    <p class="card-text">
                        - (1,4,2,5,6)=> (1,2,4,5,6) as the algorithm recognize that 4>2
                    </p>
                    <p class="card-text">
                        - (1,2,4,5,6)=> (1,2,4,5,6) as the algorithm recognize that 4<5 --> the list has been ordered in correct way
                    </p>
                   
                    <div class="card-body">
                        <h5 style="font-weight: bold;">
                           Third run
                        </h5>

                        <p class="card-text">
                            Even though the list has been ordered in the correct way, the algorithm need to identify the whole list has been ordered in the correct way, therefore this run will run but without any changes
                        </p>


                    
                <a class="blue-text font-weight-bold" href="../static/images/source code.png">Bubble sort source code</a>
              </div>
            </div>
          </div>
        </div>
       
              
       
      </section>
    </div>
          </div>
          <!--/.Panel 6-->

        </div>

      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>


<!--BOX 3-->

<div class="container my-5 px-5 pt-5 pb-1 z-depth-1">

  <!--Section: Content-->
  <section class="text-center">
    <!-- Section heading -->
    <h2 class="font-weight-bold mb-5">Merge sort  </h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">Another sorting algorithms</p>
    <div class="container py-5 my-5">
      <section class="p-md-3 mx-md-5">
        <div class="row mb-5 d-flex align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">#1: Definition of merge sort algorithm</h4>
              </div>
              <div class="card-body">
                <class class="card-text">
                  - An algorithm that follow the "Divide and conquer" method, meaning that the array will be divide into two halves, then merge the two sorted halves
                </class>
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded z-depth-1">
              <img src="../static/images/300px-Merge_sort_algorithm_diagram.svg.png" class="img-fluid"
                alt="Sample project image" />
              
            </div>
          </div>
        </div>
        <div class="row mb-5 d-flex align-items-center justify-content-end">
          <div class="col-md-6 col-lg-4">
            <div class="view overlay rounded z-depth-1">
              <img src="../static/images/Merge-Sort-Tutorial.png" class="img-fluid"
                alt="Sample project image" />
              
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header white">
                <h4 class="font-weight-bold mb-0">How does it work? </h4>
              </div>
                <p class="card-text">
                Step 1: Divide the the array into two parts by finding the middle element
                </p>
                <p class="card-text">
                Step 2: Divide the array into two parts again
                </p>
                <p class="card-text">
                Step 3: Break each element into single parts
                </p>
                
                <p class="card-text">
                Step 4: Sort the element from smallest to largest
                </p>

                <p class="card-text">
                Step 5: Merge the two sorted arrays
                </p>
                


                    
                <a class="blue-text font-weight-bold" href="../static/images/merge.png">Source code</a>
              </div>
            </div>
          </div>
        </div>
       
              
       
      </section>
    </div>
          </div>
          <!--/.Panel 6-->

        </div>

      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>


<!--BOX 4-->


<div class="container my-5 px-5 pt-5 pb-1 z-depth-1">

    <!--Section: Content-->
    <section class="text-center">
      <!-- Section heading -->
      <h2 class="font-weight-bold mb-5">Quick sort </h2>
      <!-- Section description -->
      <p class="text-center lead grey-text mx-auto mb-5">Another sorting algorithms</p>
      <div class="container py-5 my-5">
        <section class="p-md-3 mx-md-5">
          <div class="row mb-5 d-flex align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-header white">
                  <h4 class="font-weight-bold mb-0">#1: Definition of quick sort algorithm</h4>
                </div>
                <div class="card-body">
                  <class class="card-text">
                    - An algorithm that follow the "Divide and conquer" method by choosing a pivot element
                  </class>
                </div>
                <div class="card-body">
                    <class class="card-text">
                      -  The "pivot" element can be the first, last, random or the median of the array
                    </class>
                  </div>
                    
               
                    
                    
                    

              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="view overlay rounded z-depth-1">
                <img src="../static/images/download.png" class="img-fluid"
                  alt="Sample project image" />
                
              </div>
            </div>
          </div>
          <div class="row mb-5 d-flex align-items-center justify-content-end">
            <div class="col-md-6 col-lg-4">
              <div class="view overlay rounded z-depth-1">
                <img src="../static/images/QuickSort2.png" class="img-fluid"
                  alt="Sample project image" />
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-header white">
                  <h4 class="font-weight-bold mb-0">How does it work? </h4>
                </div>
                  <p class="card-text">
                  Step 1: Choosing the pivot element( Partition)
                  </p>
                  <p class="card-text">
                  Step 2: Rearrange the array so that the value that is smaller than the pivot element go before, and all value that is greater than the pivot element go after(equal values can go either way). After this, the pivot is in its final position 
                  </p>
                  <p class="card-text">
                  Step 3: Repeat step above with sub-array element with smaller value and separate it with greater values
                  </p>
                  
  
  
                      
                  <a class="blue-text font-weight-bold" href="../static/images/Capture.PNG">Source code</a>
                </div>
              </div>
            </div>
          </div>
         
                
         
        </section>
      </div>
            </div>
            <!--/.Panel 6-->
  
          </div>
  
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>


  
<!--BOX 5-->
  
  <div class="container my-5 px-5 pt-5 pb-1 z-depth-1">

    <!--Section: Content-->
    <section class="text-center">
      <!-- Section heading -->
      <h2 class="font-weight-bold mb-5">Recursion  </h2>
      <!-- Section description -->
      <p class="text-center lead grey-text mx-auto mb-5">Widely known algorithms</p>
      <div class="container py-5 my-5">
        <section class="p-md-3 mx-md-5">
          <div class="row mb-5 d-flex align-items-center">
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-header white">
                  <h4 class="font-weight-bold mb-0">#1: Definition of recursion algorithm</h4>
                </div>
                <div class="card-body">
                  <class class="card-text">
                    - A function defined itself in terms of itself through expressions, meaning that the function will continue to call itself and repeats its behavior until the condition has been met. 
                  </class>
                </div>
                
                    
               
                    
                    
                    

              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="view overlay rounded z-depth-1">
                <img src="../static/images/download (1).png" class="img-fluid"
                  alt="Sample project image" />
                
              </div>
            </div>
          </div>
          <div class="row mb-5 d-flex align-items-center justify-content-end">
            <div class="col-md-6 col-lg-4">
              <div class="view overlay rounded z-depth-1">
                <img src="../static/images/recursion_0.png" class="img-fluid"
                  alt="Sample project image" />
                
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-header white">
                  <h4 class="font-weight-bold mb-0">Example of some recursion problems </h4>
                </div>
                  <p class="card-text">
                  - Tower of Hanoi
                  </p>
                  <p class="card-text">
                  - Sudoku game
                  </p>
                  <p class="card-text">
                  - Adding a list of numbers
                  </p>
                  
  
  
                      
                  <a class="blue-text font-weight-bold" href="../static/images/hanoi1.png">Hanoi tower examples</a>
                </div>
              </div>
            </div>
          </div>
         
                
         
        </section>
      </div>
            </div>
            <!--/.Panel 6-->
  
          </div>
  
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
  
    </section>
    <!--Section: Content-->
  
  
  </div>
    
    