<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mdb.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>



<body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>


    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="/">
            <img src="../static/images/Company logo.png" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/learn">Learning</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/beginner">For beginner</a>
                        <a class="dropdown-item" href="/inter">For intermediate</a>
                        <a class="dropdown-item" href="/advance">For pro</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">FAQ</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="/profiles">My profiles</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container my-5">


        <!--Section: Content-->
        <section>
      
          <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
          <!-- Section heading -->
          <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">There are no dumb questions</h3>
          <hr class="w-header">
          <!-- Section description -->
          <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">We come up with some few important questions from our clients and readers. Here, we are answering some of that </p>
      
              <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto mb-5">
            
              <!--Accordion wrapper-->
              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
      
                <!-- Accordion card -->
                <div class="card border-top border-bottom-0 border-left border-right border-light">
      
                  <!-- Card header -->
                  <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h5 class="black-text font-weight-normal mb-0">
                        What is the purpose of this website?<i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
      
                  <!-- Card body -->
                  <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      This website is an dedicated website to help people during their time learning Python or helping people who are interested in IT. 
                    </div>
                  </div>
      
                </div>
                <!-- Accordion card -->
      
                <!-- Accordion card -->
                <div class="card border-bottom-0 border-left border-right border-light">
      
                  <!-- Card header -->
                  <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                      aria-expanded="false" aria-controls="collapseTwo2">
                      <h5 class="black-text font-weight-normal mb-0">
                        Who starts Lord Quach's Company? When? <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
      
                  <!-- Card body -->
                  <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                    data-parent="#accordionEx">
                    <div class="card-body">
                        This company was established in July 7th, 2020 by Mr.Khiem 
                    </div>
                  </div>
      
                </div>
                <!-- Accordion card -->
      
                <!-- Accordion card -->
                <div class="card border-bottom-0 border-left border-right border-light">
      
                  <!-- Card header -->
                  <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                      aria-expanded="false" aria-controls="collapseThree3">
                      <h5 class="black-text font-weight-normal mb-0">
                        Does the information accurate enough for people to learn?<i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
      
                  <!-- Card body -->
                  <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                    data-parent="#accordionEx">
                    <div class="card-body">
                        The information for each pages are 100% accurate as it has been authorized by some famous Python learning websites
                    </div>
                  </div>
      
                </div>
                <!-- Accordion card -->
                
                <!-- Accordion card -->
                <div class="card border-left border-right border-light">
      
                  <!-- Card header -->
                  <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
                      aria-expanded="false" aria-controls="collapseThree4">
                      <h5 class="black-text font-weight-normal mb-0">
                        How can I get better at Python?<i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
      
                  <!-- Card body -->
                  <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                    data-parent="#accordionEx">
                    <div class="card-body">
                        Practice, practice and practice :))
                    </div>
                  </div>
      
                </div>
                <!-- Accordion card -->
      
              </div>
              <!-- Accordion wrapper -->
              
            </div>
          </div>
      
          </section>
        
        
      </div>