<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data structure</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mdb.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>



<body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>


    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="/">
            <img src="../static/images/Company logo.png" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/learn">Learning</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/beginner">For beginner</a>
                        <a class="dropdown-item" href="/inter">For intermediate</a>
                        <a class="dropdown-item" href="/advance">For pro</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">FAQ </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container my-5 px-5 pt-5 pb-1 z-depth-1">

        <!--Section: Content-->
        <section class="text-center">
          <!-- Section heading -->
          <h2 class="font-weight-bold mb-5">Data structure and its importance</h2>
          <!-- Section description -->
          <p class="text-center lead grey-text mx-auto mb-5">Overview of data structure</p>
          <div class="container py-5 my-5">
            <section class="p-md-3 mx-md-5">
              <div class="row mb-5 d-flex align-items-center">
                <div class="col-lg-6 col-md-6">
                  <div class="card">
                    <div class="card-header white">
                      <h4 class="font-weight-bold mb-0">#1: What is data structure?</h4>
                    </div>
                    <div class="card-body">
                      <class class="card-text">
                        - A type of storage format in order to manage access and modification, a collection of values, the relationships between them and the function that can be applied to it. 
                      </class>
                    </div>
                    
                        
                   
                        
                        
                        
    
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="view overlay rounded z-depth-1">
                    <img src="../static/images/Untitled-Diagram-183.png" class="img-fluid"
                      alt="Sample project image" />
                    
                  </div>
                </div>
              </div>
              <div class="row mb-5 d-flex align-items-center justify-content-end">
                <div class="col-md-6 col-lg-4">
                  <div class="view overlay rounded z-depth-1">
                    <img src="../static/images/graph.png" class="img-fluid"
                      alt="Sample project image" />
                    
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="card">
                    <div class="card-header white">
                      <h4 class="font-weight-bold mb-0">#2: Data structure application </h4>
                    </div>
                      <p class="card-text">
                      - Google Maps( finding shortest path)
                      </p>
                      <p class="card-text">
                      - Search engine
                      </p>
                      <p class="card-text">
                      - Using in boarding bus( Queue data structure)
                      </p>
                      
      
      
                          
                      
                    </div>
                  </div>
                </div>
              </div>
             
                    
             
            </section>
          </div>
                </div>
                <!--/.Panel 6-->
      
              </div>
      
            </div>
            <!-- Grid column -->
        
          </div>
          <!-- Grid row -->
      
        </section>
        <!--Section: Content-->
      
      
      </div>


<!--BOX 2-->

<div class="container my-5 py-5 z-depth-1">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/8O5kX73OkIY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold">Class and objects</h3>

          <p class="font-weight-bold">The blueprint of the model</p>

          <p class="text-muted">
              Content summary:
          </p>
          
          <p class="text-muted">
            - Define a class: Start with the keyword "class", followed by the name of the class and a colon 
        </p>

        <p class="text-muted">
            - "__init__()" properties: the property that is assigned to each objects. _
        </p>

        <p class="text-muted">
            - The "__init__()" function can be given any type in the parameter, but first parameter always be a variable called "self".
        </p>

          <a class="font-weight-bold" href="https://realpython.com/python3-object-oriented-programming/" >More about Class and Objects<i class="fas fa-angle-right ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>


  <div class="container my-5 py-5 z-depth-1">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/NKmasqr_Xkw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold">Stack data structure</h3>

          

          <p class="text-muted">
              Content summary:
          </p>
          
          <p class="text-muted">
            - Definition: A structure that store item in the "Last In/First Out" manner and happened on both side of the stack.
        </p>

        <p class="text-muted">
            - Stack operators: append(), pop(), empty(), size(), top().
        </p>

        <p class="text-muted">
            - Application: Memory management, backtracking(sudoku)
        </p>

          <a class="font-weight-bold" href="../static/images/code.PNG" >Source code <i class="fas fa-angle-right ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
  <!-- BOX 3-->
  <div class="container my-5 py-5 z-depth-1">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/XLXWidXVRJk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold">Queue data structure</h3>

          

          <p class="text-muted">
              Content summary:
          </p>
          
          <p class="text-muted">
            - Definition: A linear structure that store items in the" First In- First out" manner. 
        </p>

        <p class="text-muted">
            - Queue operators:  Enqueue(add an item into the queue), Dequeue(remove an item from a queue), Front(Get the front item of the queue), Rear(Get the last item of the queue)
        </p>

        <p class="text-muted">
            - Application: Ordering food items,CPU task scheduling, Time reminder, etc
        </p>

          <a class="font-weight-bold" href="../static/images/queue.PNG" >Queue source code<i class="fas fa-angle-right ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>



<!--BOX 4-->

  <div class="container my-5 py-5 z-depth-1">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/njTh_OwMljA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold">Linked list data structure</h3>

          

          <p class="text-muted">
              Content summary:
          </p>
          
          <p class="text-muted">
            - Definition: A sequence of data elements, which are connected together through links. Each element will contain a connection to a element
        </p>

        <p class="text-muted" >
        - Different between linked list and array:  
        </p>

        <p class="text-muted">
            + Array is a collection of similar data while Linked list contains a collection of unordered linked elements as nodes
        </p>

        <p class="text-muted">
            + The element in array belong to their indexes, meaning that we can take any number from the array by just enter the variable name and its position, while Linked list need to go from the beginning
        </p>

        <p class="text-muted">
            + Element are stored consecutively in arrays while it stored randomly in Linked lists. 
        </p>

        <p class="text-muted">
        - Application: Previous and next page in web browser, music player,etc
        </p>

          <a class="font-weight-bold" href="../static/images/linked.PNG" >Linked list source code<i class="fas fa-angle-right ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>



<!--BOX 5-->

  <div class="container my-5 py-5 z-depth-1">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/1n5XPFcvxds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">

          <h3 class="font-weight-bold">Graph data structure</h3>

          

          <p class="text-muted">
              Content summary:
          </p>
          
          <p class="text-muted">
            - Definition: An non-linear structure including nodes and edges. While nodes are points on the graph, edge are the line connected each nodes together
        </p>

        <p class="text-muted" >
        - Algorithms use in Graph: Depth-first search(DFS) and Breadth-first search(BFS)
        </p>

        <p class="text-muted">
            + Depth-first search(DFS): An edge-based technique, using Stack data structure to perform. The algorithm starts from the root node and go along the branch before the backtracking.
        </p>

        <p class="text-muted">
            + Breadth-first search(BFS): An node-based technique, using Queue data structure to perform. The algorithm started by choosing an nodes and continue to move to another layer when first layer are finished.
        </p>

        <p class="text-muted">
            + Application: Finding shortest path, GPS navigation, etc.
        </p>

          <a class="font-weight-bold" href="../static/images/source.PNG" >Graph source code<i class="fas fa-angle-right ml-2"></i></a>
          

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>