<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installing</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mdb.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>



<body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>


    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="/">
            <img src="../static/images/Company logo.png" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/learn">Learning</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/beginner">For beginner</a>
                        <a class="dropdown-item" href="/inter">For intermediate</a>
                        <a class="dropdown-item" href="/advance">For pro</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">FAQ </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="/profiles">My profiles</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
  
    
    
    <div class="container my-5 py-5 z-depth-1">

 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
    
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UvcQlPZ8ecA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-6 mb-4 mb-lg-0">
    
              <h3 class="font-weight-bold">How to install Python on Windows</h3>
    
              
    
              <p class="text-muted">
                  Procedure:
              </p>
              
              <p class="text-muted">
                - Steps 1: Go to Python official website(Python.org). Recommended: Python version 3.6 
            </p>
    
            <p class="text-muted" >
                - Step 2: Choose the suitable version for your laptop(32Gb or 64GB)
            </p>
    
            <p class="text-muted">
                + Step 3: Wait until the program is executed and your program is ready to go
            </p>
    
            
    
              
    
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
    
    
      </div>



    <!--BOX 2-->

    <div class="container my-5 py-5 z-depth-1">

 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
    
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uA8SA81nivg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-6 mb-4 mb-lg-0">
    
              <h3 class="font-weight-bold">How to install Python on Mac</h3>
    
              
    
              <p class="text-muted">
                  Procedure:
              </p>
              
              <p class="text-muted">
                - Steps 1: Go to Python official website(Python.org). Recommended: Python version 3.6 
            </p>
    
            <p class="text-muted" >
                - Step 2: Choose the suitable version for your laptop(32Gb or 64GB)
            </p>
    
            <p class="text-muted">
                + Step 3: Wait until the program is executed and your program is ready to 
            </p>
    
            
    
              
    
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
    
    
      </div>

