<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intermediate</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mdb.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>



<body>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>


    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="/">
            <img src="../static/images/Company logo.png" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/learn">Learning</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/beginner">For beginner</a>
                        <a class="dropdown-item" href="/inter">For intermediate</a>
                        <a class="dropdown-item" href="/advance">For pro</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">FAQ</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div class="container my-5">


    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
  
      <h3 class="font-weight-bold mb-4 pb-2">Intermediate projects</h3>
      <p class="text-muted w-responsive mx-auto mb-5">These are some project you can do if you want to try something harder </p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
  
          <div class="view overlay rounded z-depth-1">
            <img src="../static/images/calc.png" class="img-fluid" alt="Sample project image">
            
          </div>
  
          <div class="px-3 pt-3 mx-1 mt-1 pb-0">
            <a class="orange-text">
                <h6 class="font-weight-bold mt-2 mb-3"><i class="fas fa-code"></i>Coding</h6>
            </a>
            <h4 class="font-weight-bold mb-3">#1: Simple calculator</h4>
            <p class="text-muted">A great project to do</p>
            <a class="btn btn-success btn-rounded btn-md" href="https://www.youtube.com/watch?v=F5PfbC5ld-Q"> Tutorial</a>
          </div>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
  
          <div class="view overlay rounded z-depth-1">
            <img src="../static/images/2048.jpg" class="img-fluid" alt="Sample project image">
            
          </div>
  
          <div class="px-3 pt-3 mx-1 mt-1 pb-0">
            <a class="blue-text">
              <h6 class="font-weight-bold mt-2 mb-3"><i class="fas fa-code"></i>Coding</h6>
            </a>
            <h4 class="font-weight-bold mb-3">#2: 2048 game</h4>
            <p class="text-muted">A sliding block puzzle game</p>
            <a class="btn btn-success btn-rounded btn-md" href="https://www.youtube.com/watch?v=b4XP2IcI-Bg"> Tutorial</a>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </section>
    <!-- Section: Block Content -->
  

    <div class="container my-5">


        <!-- Section: Block Content -->
        <section class="dark-grey-text text-center">
      
          
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
      
              <div class="view overlay rounded z-depth-1">
                <img src="../static/images/gui.jpg" class="img-fluid" alt="Sample project image">
                
              </div>
      
              <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                <a class="orange-text">
                    <h6 class="font-weight-bold mt-2 mb-3"><i class="fas fa-code"></i>Coding</h6>
                </a>
                <h4 class="font-weight-bold mb-3">#3: GUI app</h4>
                <p class="text-muted">Also called graphical user interface</p>
                <a class="btn btn-success btn-rounded btn-md" href="https://www.youtube.com/watch?v=jE-SpRI3K5g"> Tutorial</a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-6 mb-4">
      
              <div class="view overlay rounded z-depth-1">
                <img src="../static/images/password-generator.png" class="img-fluid" alt="Sample project image">
                
              </div>
      
              <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                <a class="blue-text">
                  <h6 class="font-weight-bold mt-2 mb-3"><i class="fas fa-code"></i>Coding</h6>
                </a>
                <h4 class="font-weight-bold mb-3">#4: Password generator </h4>
                <p class="text-muted">A sliding block puzzle game</p>
                <a class="btn btn-success btn-rounded btn-md" href="https://www.youtube.com/watch?v=rHTwjV1ORUQ"> Tutorial</a>
              </div>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
        <!-- Section: Block Content -->
      